Source: fast-vm
Section: misc
Priority: optional
Maintainer: Ondrej Famera <ondrej-xa2iel8u@famera.cz>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/OndrejHome/fast-vm/

Package: fast-vm
Architecture: all
Depends: ${misc:Depends}, libvirt-daemon, libvirt-clients, libvirt-daemon-system, dnsmasq-utils, curl, sudo, thin-provisioning-tools, gawk
Recommends: bash-completion, ovmf, pv, libguestfs-tools, zstd
Description: Script for defining VMs from images provided in thin LVM pool
 fast-vm provides command-line interface to create virtual machines (VMs) in
 libvirt, based on imported disks in LVM and XML templates.
 .
 Templates of VM disk drives are stored in LVM thinpool LV for space efficiency.
 Templates for VMs are just libvirt XMLs with few macros from fast-vm. When
 creating a VM, fast-vm will create new writable LVM snapshot of disk drive,
 define libvirt VM for it and make a static DHCP reservation for libvirt network
 on which VM will be. Optionally fast-vm allows one to do some customization 
 of disk drive of new machine before starting VM using the 'hack files'.
